{{ 'accordion.css' | asset_url | stylesheet_tag }}

<div class="accordion product-more-info-container">
  {% for accordion in product.metafields.custom.accordion.value %}
    <div class="accordion-item">
      <button class="accordion-toggle" aria-expanded="true">
        {{ accordion.label }}

        <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0.5L5 6.5L9 0.5" stroke="black"/>
        </svg>
        
      </button>
      <div class="accordion-content">
        {{ accordion.content | metafield_tag }}
      </div>
    </div>
  {% endfor %}
</div>

<script>
  const accordionToggles = document.querySelectorAll('.accordion-toggle');

  accordionToggles.forEach(function (toggle) {
    toggle.addEventListener('click', function () {
      const content = this.nextElementSibling;
      const isExpanded = this.getAttribute('aria-expanded') === 'true';

      // Close all other accordion sections
      accordionToggles.forEach(function (item) {
        item.setAttribute('aria-expanded', 'false');
        item.nextElementSibling.style.maxHeight = null;
      });

      // Toggle current section
      if (!isExpanded) {
        this.setAttribute('aria-expanded', 'true');
        content.style.maxHeight = content.scrollHeight + 'px';
      } else {
        this.setAttribute('aria-expanded', 'false');
        content.style.maxHeight = null;
      }
    });
  });

  document.querySelector('.accordion-toggle').click();
</script>
